

body {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.8rem;
}

.mountains {
    width: 100%;
}

.intro {
    width: 60%;
    font-size: 1rem;
}

.send-message {
    font-size: 1.1rem;
    font-weight: 100;
}

.imgBox {
    width: 190px;
}

.secondContainer {
    width: 500px;
    min-height: 200px;
    background: #262626;
    margin: 70px auto 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
}

.secondContainer .box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #6381a3;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.fourthContainer {
    padding: 20px 0 20px;
}