@media screen and (max-width: 360px) {
  .mountains {
    display: none;
  }
  body {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  a {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
  }

  .intro {
    width: 80%;
    font-size: 0.8rem;
  }

  .secondContainer {
    width: 80%;
  }

  .secondContainer .box {
    width: 100px;
    height: 100px;
  }

  .secondContainer .box .details {
    display: none;
  }

  .imgBox {
    width: 90px;
  }

  .fourthContainer {
    padding: 10px 0 5px;
  }

  .send-message {
      font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.6rem;
    padding-top: 5px;
  }
}
